Makefile
*.lo
*.o
.deps
.libs
*.pyc
docs/manual/manual.html
libtool
libudis86/itab.c
libudis86/itab.h
libudis86/libudis86.la
stamp-h1
tests/ovrrun
tests/test_dis
tests/test_invalid_seg.asm
tests/testjmp.out
udcli/udcli
tests/testgen__*
tests/*.bin
tests/*.out
